:root {
  --clr-white: hsl(0 0% 100% / 0.95);
  --clr-black-400: hsl(236 18% 19% / 0.85);
  --clr-black-200: hsl(236 18% 19% / 0.45);

  --clr-primary: hsl(0 0% 98%);

  --clr-neutral-900: hsl(0 0% 82%);
  --clr-neutral-800: hsl(0 5% 92%);
  --clr-neutral-400: hsl(0 0% 96%);

  --clr-primary-accent-900: hsl(198 73% 42%);
  --clr-primary-accent-400: hsl(198 76% 52%);

  --clr-secondary-accent-900: hsl(85 40% 43%);
  --clr-secondary-accent-400: hsl(85 37% 50%);

  --clr-success: hsl(85 77% 69%);
  --clr-error: hsl(0 100% 66% / 0.85);

  --ff-primary: "Montserrat", sans-serif;
}

/* Css Reset
https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */
